# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [138]:
def lesser_of_two_evens(a,b):
    is_a_even = False;
    is_b_even = False;
    if a%2==0:
        is_a_even = True
    if b%2==0:
        is_b_even = True
    if is_a_even and is_b_even:
        return min(a,b)
#         if a<b:
#             return a
#         else:
#             return b
    else:
        return max(a,b)
#         if a>b:
#             return a
#         else:
#             return b

In [139]:
# Check
lesser_of_two_evens(2,4)

2

In [141]:
# Check
lesser_of_two_evens(7,5)

7

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [143]:
def animal_crackers(text):
    mywords = text.split(' ')
    return mywords[0][0] == mywords[1][0]
#         return True
#     else:
#         return False

In [144]:
# Check
animal_crackers('Levelheaded Llama')

True

In [145]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [146]:
def makes_twenty(n1,n2):
    return sum ((n1,n2)) == 20 or n1==20 or n2 == 20
#     is_20 = False
#     if sum ((n1,n2)) == 20:
#         is_20 = True
#     elif n1==20 or n2 == 20:
#         is_20 = True
#     return is_20

In [147]:
# import sys
# Check
makes_twenty(20,10)

True

In [148]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [151]:
def old_macdonald(name):
    return name[:3].capitalize() + name[3:].capitalize()
#     new_mcdonald=''
#     for s in name:
#         if len(new_mcdonald) == 0 or len(new_mcdonald) == 3:
#             new_mcdonald += s.upper()
#         else:
#             new_mcdonald += s
#     return new_mcdonald
    
#     name[0] = name[0].upper()
#     name[3] = name[3].upper()

In [152]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [29]:
def master_yoda(text):
    mylist = text.split(' ')
    return " ".join(mylist[::-1])

In [30]:
# Check
master_yoda('I am home')

'home am I'

In [31]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [153]:
def almost_there(n):
    return n%100 <=10 or n%200 <=10
#     greater = 200
#     lesser = 100
#     difference = 10
#     if n%100 <=10 or n%200 <=10:
#         return True
#     else:
#         return False

In [154]:
# Check
almost_there(104)

True

In [155]:
# Check
almost_there(150)

False

In [156]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [165]:
def has_33(nums):
#     numstr=''
    for n in nums:
        if nums[n:n+2] == [3,3]:
            return True
    return False
        
#         numstr += str(n)
#     print(numstr)
#     return '33' in numstr
#     if '33' in numstr:
#         return True
#     else:
#         return False
        
#     num = " ".join(nums)
#     print(num)
#     if '33' in num:
#         return True
#     else:
#         return False

In [166]:
# Check
has_33([1, 3, 3])

True

In [167]:
# Check
has_33([1, 3, 1, 3])

False

In [168]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [169]:
def paper_doll(text):
    newstr =''
    for s in text:
        newstr += s*3
#         for i in [0,1,2]:
#             newstr +=s
    return newstr

In [170]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [171]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [172]:
def blackjack(a,b,c):
    total = sum((a,b,c))
    if total <=21:
        return total
    elif total < 31 and 11 in (a,b,c):
        return total - 10
    else:
        return 'BUST'
#         total = total - 10

#         if total > 21:
#             return 'BUST'
#         else:
#             return total
#     else:
#         return 'BUST'

In [173]:
# Check
blackjack(5,6,7)

18

In [174]:
# Check
blackjack(9,9,9)

'BUST'

In [175]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [85]:
def summer_69(arr):
    skip_sum = False
    skip_total = 0
    for num in arr:
        if num == 6:
            skip_sum = True
        elif num == 9:
            skip_sum = False
        elif skip_sum == False:
            skip_total +=num
    return skip_total

In [86]:
# Check
summer_69([1, 3, 5])

9

In [87]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [88]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [180]:
def spy_game(nums):
    find_nums = [0,0,7,'x']
#     prev_location = 0
    for num in nums:
        if num == find_nums[0]:
            find_nums.pop(0)
    return len(find_nums)==1
#         print(num in nums[prev_location:])
#         print(prev_location)
#         if num in nums[prev_location:]:
#             prev_location = nums.index(num)
#         else:
#             return False
#     return True

In [181]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [182]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [183]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [136]:
def count_primes(num):
    prime_list = range(2,num+1)
    prime_count = 0
    is_prime = False
    for i in prime_list:
        for j in range(2,i+1):
            if (i%j) ==0:
                if not i==j:
                    is_prime = False
                else:
                    is_prime = True
                break
            else:
                is_prime = True
        if is_prime:
            prime_count +=1
    return prime_count

In [137]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!